* {
    box-sizing: border-box;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0%;
}


header {
    display: inline;
}

.atas {
    font-size: 20px;
    padding: 30px;
    background-color: cadetblue;
    text-align: center;
        color: white;
    }
    nav {
        background-color: #009b4c;
        padding: 5px;
        position: sticky;
        top: 0;
    }
    
    nav li {
        display: inline;
        list-style-type: none;
        margin-right: 20px;
    }
    
    nav a {
        font-size: 15px;
        font-weight: 700px;
        text-decoration: none;
        position: center;
    
        color: white;
    }
    
    nav a:hover {
        color: #fff000;
        font-weight: bold;
    }

    
main {
        padding: 20px;
        overflow: auto;
      }
      
      aside {
        float: right;
        padding-left: 20px;
        width: 30%;
        text-align: justify;
      }

      .profile header {
        text-align: center;
      }

      .card{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) ;
      }    

      #content {
        float: left;
        width: 70%;
      }

      h2, h3 {
        color: #009b4c;
      }

      .kotak {
        box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
      }

      .gambar-konten {
        width: 100%;
        max-height: 800px;
      
        object-fit: cover;
        object-position: center;
      }
      
    
footer {
        padding: 10px;
        color: #fff;
        background-color: cadetblue;
        text-align: center;
      }
 
      
@media screen and (max-width: 1000px) {
        #content,
        aside {
          width: 100%;
          padding: 0;
        }
      }
      
      



